<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/piodb</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">ikkiFenix</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="pio/hibernate/Usuario.hbm.xml"/>
    <mapping resource="pio/hibernate/ProgramasOrPs.hbm.xml"/>
    <mapping resource="pio/hibernate/MencionPlantel.hbm.xml"/>
    <mapping resource="pio/hibernate/EstudianteServCom.hbm.xml"/>
    <mapping resource="pio/hibernate/TelefonoU.hbm.xml"/>
    <mapping resource="pio/hibernate/EstudianteBachillerato.hbm.xml"/>
    <mapping resource="pio/hibernate/ObsAA.hbm.xml"/>
    <mapping resource="pio/hibernate/PlantelOtros.hbm.xml"/>
    <mapping resource="pio/hibernate/SituacionEmbarazos.hbm.xml"/>
    <mapping resource="pio/hibernate/ViolenciaVerbal.hbm.xml"/>
    <mapping resource="pio/hibernate/ServiciosPlantel.hbm.xml"/>
    <mapping resource="pio/hibernate/AsistenciaInstitucion.hbm.xml"/>
    <mapping resource="pio/hibernate/ViolenciaFisica.hbm.xml"/>
    <mapping resource="pio/hibernate/Charla.hbm.xml"/>
    <mapping resource="pio/hibernate/Plantel.hbm.xml"/>
    <mapping resource="pio/hibernate/PerfilUsuario.hbm.xml"/>
    <mapping resource="pio/hibernate/DaniosInstitucion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
